.wrapper {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.6rem;
   font-weight: 700;
   min-width: 100px;
   padding: 9px 16px;
   border-radius: 4px;
   background-color: var(--white);
   border: 1px solid transparent;
   user-select: none;
   cursor: pointer;

   + .wrapper {
      margin-left: 8px;
   }

   // Button disabled
   &.disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}

.icon + .title,
.title + .icon {
   margin-left: 8px;
}

// Button types
.rounded {
   @extend .outline;
   border-radius: 999px;
   box-shadow: 0 2px 8px rgba(0 0 0 /6%);
}

.outline {
   font-weight: 600;
   color: var(--black);
   border: 0.5px solid rgba(0, 0, 0, 0.1);

   &:hover {
      background-color: rgba(111, 111, 111, 0.06);
   }
}

.outlinePrimary {
   color: var(--primary);
   border-color: currentColor;

   &:hover {
      background-color: rgba(254, 44, 85, 0.06);
   }
}

.primary {
   color: var(--white);
   background-color: var(--primary);

   &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
         #FE2C55;
   }
}

//Button sizes
.small {
   min-width: 88px;
   padding: 4px 16px;
}

.large {
   min-width: 140px;
   padding: 14px 16px;
}